[General]
Name=Class
Comment=Basic UNICON Class
Category=Unicon/Class Only
Language=unicon
Type=Class
Files=Implementation


[Implementation]
Name=Implementation
File=class.icn
OutputFile={{ name }}.icn

[Desktop Entry]
Name[en_US]=icn_clasic.desktop
