[General]
Name=Procedure
Comment=Basic UNICON Procedure
Category=Unicon/Procedure Only
Language=unicon
Type=Procedure
Files=Implementation


[Implementation]
Name=Implementation
File=procedure.icn
OutputFile={{ name }}.icn

[Desktop Entry]
Name[en_US]=icn_procedure.desktop
